<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IoT-Infotainment</title>

    <!--<link rel="stylesheet" th:href="@{/static/css/card-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrapfiles/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/index-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/card-style.css}"/>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-calling-for-playlist.js}"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>

<body>
    <div id="wrapper" class="active">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-home"></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="/iot/home">Music<span class="sub_icon glyphicon glyphicon-headphones"></span></a></li>
                <li><a href="#" onclick="notWorkingAlert()">Movies<span class="sub_icon glyphicon glyphicon-film"></span></a></li>
                <li><a href="#" onclick="notWorkingAlert()">Security<span class="sub_icon glyphicon glyphicon-facetime-video"></span></a></li>
                <li><a href="#" onclick="notWorkingAlert()">Garden<span class="sub_icon glyphicon glyphicon-tree-conifer"></span></a></li>
            </ul>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="col-md-12">
                        <p class="well lead">Smart Home Infotainment</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-left: 2%">Party Mode <input type="checkbox" id="partyMood" data-toggle="toggle" data-onstyle="success"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-lg-9" id="cardSongs" style="margin-left: 2%;"></div>

                    <div class="col-md-12 col-lg-12 text-center" id="partyInfo"
                         style="background-color: #e6e8e7; float: left; height: 80vh">
                        <h3 style="margin: 0;  position: absolute; top: 50%;  left: 50%;
                            -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">Turn on the Party Mode!</h3>
                    </div>

                    <div class="col-md-2 col-lg-2 border-left divider-vertical" style="display: none; justify-content: center; margin-right: 0">
                        <h4>Connected Guests</h4>
                        <ul class="list-group" id="guestList"></ul>
                    </div>
                </div>

                <div class="row " style="position: fixed; bottom: 0; width: 100%">
                    <div class="col-lg-12 well lead ">
                        <div class="col-sm-0 col-lg-7" style="text-align: center" id="currentSongName">current song</div>
                        <div class="col-sm-12 col-lg-5" style="text-align: center">
                            <a class="col-1" href="#"><span><i class="glyphicon glyphicon-step-backward" style="color: gray;margin-left: 3px; margin-right: 3px"></i></span></a>
                            <a class="col-1" href="#"><span><i class="glyphicon glyphicon-pause" style="color: gray;margin-left: 3px; margin-right: 3px"></i></span></a>
                            <a class="col-1" href="#"><span><i class="glyphicon glyphicon-step-forward" style="color: gray;margin-left: 3px; margin-right: 3px"></i></span></a>
                            <a class="col-1" href="#"><span><i class="glyphicon glyphicon-random" style="color: gray;margin-left: 3px; margin-right: 3px"></i></span></a>
                            <a class="col-1" href="#"><span><i class="glyphicon glyphicon-volume-up" style="color: gray;margin-left: 3px; margin-right: 3px"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="application/javascript">
    var interval = null;
    $('#partyMood').change(function() {
        if(this.checked) {
            interval = setInterval(getContiniouslyAllData, 7000);
            $('#guestList').parent().show();
            $('#partyInfo').hide();
        }
        else {
            clearInterval(interval);
            $('#cardSongs').html('');
            $('#partyInfo').show();
            $('#guestList').parent().hide();
        }
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>
<script>
    function notWorkingAlert() {
        alert("Only Music Button is working. rest are under construction!");
    }
</script>

</html>