<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IoT-Infotainment</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>


</head>

<body>
    <h1>Hello World from IoT Project</h1>

    <label>Person appeared: </label> <h1 id="personName"></h1>
    <label>Distance: </label> <h1 id="distance"></h1>
    <label>Songs: </label> <h1 id="songList"></h1>

</body>

<script type="application/javascript">
    function getContiniouslyAllData() {
        $.ajax({
            url: '/iot/get-distance',
            type: "GET",
            dataType: "xml",
            contentType: "application/xml",
            success: function (xmlData) {
                $(xmlData).find("ResponseDistanceData").each(function () {
                    var personName = $(this).find('person').text();
                    $('#personName').html(personName);
                    var distance = $(this).find('distance').text();
                    $('#distance').html(distance);
                    var songList = $(this).find('songList').text();
                    $('#songList').html(songList);
                });
            }
        });
    }

    setInterval(getContiniouslyAllData, 3000);

</script>

</html>