<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IoT-Infotainment</title>

    <link rel="stylesheet" th:href="@{/static/css/card-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrapfiles/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/index-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/card-style.css}"/>
    <link rel="stylesheet" th:href="@{/fontawesome-free-5.12.0-web/css/font-awesome.min.css}"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/songs.js}"></script>
</head>

<body>

    <!--<label>Person appeared: </label> <h1 id="personName"></h1>
    <label>Distance: </label> <h1 id="distance"></h1>
    <label>Songs: </label>-->
    <!--<ul class="list-group" id="songList">
        &lt;!&ndash;<li class="list-group-item" id="songList"></li>&ndash;&gt;
    </ul>-->

    <div id="wrapper" class="active">
        <!-- Sidebar -->
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-home"></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a class="fa fa-ship" aria-hidden="true">Music</a></li>
                <li><a>Mirror<span class="sub_icon glyphicon glyphicon-fullscreen"></span></a></li>
                <li><a>Mirror<span class="sub_icon glyphicon glyphicon-film"></span></a></li>

                <!--<ul class="sidebar-nav" id="sub_icon glyphicon sidebar">
                    <li><a>link1<span class="sub_icon glyphicon glyphicon-music"></span></a></li>
                    <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                </ul>-->
            </ul>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="col-md-12">
                        <p class="well lead">Smart Home Infotainment</p>
                        <!--<p class="well lead">An Experiment using the sidebar (<a href="http://animeshmanglik.name">animeshmanglik.name</a>)</p>-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 col-lg-9" id="cardSongs" style="margin-left: 2%">
                    </div>

                    <div class="col-md-2 col-lg-2 border border-warning" >
                        <ul class="list-group" id="guestList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

<script type="application/javascript">

    //getContiniouslyAllData();
    setInterval(getContiniouslyAllData, 7000);

</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>

</html>